@use './class.scss';

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--el-bg-color-page);
	color: var(--el-text-color-primary);
}
.color-pane {
	width: 40px;
	height: 20px;
}

.el-container {
	height: 100vh;
}

.el-form--inline .el-form-item {
	margin-right: 10px !important;
	.is-controls-right {
		width: 110px;
	}
}

.vue-grid-item {
	~ .vue-grid-placeholder {
		background-color: var(--el-color-primary-light-3) !important;
	}
	> .vue-resizable-handle {
		padding: 0 6px 6px 0 !important;
	}
}

/* 页面宽度小于800px
------------------------------- */
@media screen and (max-width: 800px) {
	.el-dialog {
		width: 90% !important;
	}
	.el-dialog.is-fullscreen {
		width: 100% !important;
	}
}