@use './class.scss';
@use './media.scss';
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--el-bg-color-page);
	color: var(--el-text-color-primary);
	background-size: cover;
	background-position: center;
	transition: background-image 0.3s ease-in-out;
	overflow: hidden;
	user-select: none;
}

#__nuxt {
	height: 100%;
}
@font-face {
	font-family: 'rocks-serif';
	src: url('~/assets/fonts/rocks-serif.ttf');
}
@font-face {
	font-family: 'SAIBA-45';
	src: url('~/assets/fonts/SAIBA-45.ttf');
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.color-pane {
	width: 40px;
	height: 20px;
}

.el-container {
	height: 100vh;
}

.el-form--inline .el-form-item {
	margin-right: 10px !important;
	.is-controls-right {
		width: 110px;
	}
}

.vue-grid-item {
	~ .vue-grid-placeholder {
		background-color: var(--el-color-primary-light-3) !important;
	}
	> .vue-resizable-handle {
		padding: 0 6px 6px 0 !important;
	}
}

.el-form-item__label {
	text-align: left;
}

.el-drawer {
	.el-drawer__header {
		margin-bottom: 0 !important;
		padding-bottom: 20px !important;
	}
	.el-drawer__body {
		padding: 10px;
		background-color: var(--el-bg-color-page);
	}
}

.el-collapse {
	--el-collapse-border-color: transparent !important;
}

.container-vertical {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.filter-tags {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.el-tag {
		cursor: pointer;
		margin-bottom: 10px;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.custom-dialog {
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	.el-dialog__header {
		padding: 16px;
	}
	.el-dialog__body {
		flex: 1;
		padding: 0;
		.el-scrollbar__view {
			padding: 0 16px 16px;
		}
	}
	.el-dialog__footer {
		padding-top: 0;
		padding: 16px;
		border-top: 1px solid var(--el-color-info-light-7);
		.footer {
			.confirm-btn {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}
}

.my-calendar {
	.el-calendar__header {
		padding: 10px 0;
	}
	.el-calendar__body {
		padding: 0;
		margin-right: 16px;
		.el-calendar-table {
			.el-calendar-day {
				height: 60px;
				padding: 0;
			}
			tr td,
			th {
				&:first-child {
					&.prev {
						color: var(--el-color-danger-light-5);
					}
					color: var(--el-color-danger);
				}
				&:last-child {
					&.next {
						color: var(--el-color-danger-light-5);
					}
					color: var(--el-color-danger);
				}
			}
		}
	}
}
