@use './class.scss';
@use './media.scss';
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--el-bg-color-page);
	color: var(--el-text-color-primary);
	background-size: cover;
	background-position: center;
	transition: background-image 0.3s ease-in-out;
}

#__nuxt {
	height: 100%;
}
@font-face {
	font-family: 'gomarice_rocks_serif';
	src: url('~/assets/fonts/gomarice_rocks_serif.ttf');
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.color-pane {
	width: 40px;
	height: 20px;
}

.el-container {
	height: 100vh;
}

.el-form--inline .el-form-item {
	margin-right: 10px !important;
	.is-controls-right {
		width: 110px;
	}
}

.vue-grid-item {
	~ .vue-grid-placeholder {
		background-color: var(--el-color-primary-light-3) !important;
	}
	> .vue-resizable-handle {
		padding: 0 6px 6px 0 !important;
	}
}

.el-form-item__label {
	text-align: left;
}
.el-drawer__header {
	margin-bottom: 0 !important;
	padding-bottom: 20px !important;
}
